.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background-color: rgb(213, 225, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    height: 499px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.qr-image {
    width: 288px;
    height: 288px;
    border-radius: 15px;
    margin-bottom: 16px;
}

.text1 {
    text-align: center;
    color: rgb(31, 49, 79);
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    height: 52px;
    width: 256px;
    margin-left: 32px;
}

.text2 {
    text-align: center;
    color: rgb(104, 119, 141);
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 52px;
    width: 256px;
    margin-left: 32px;
}

@media (max-width: 400px) {
    .container {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .qr-image {
        width: 100%;
        height: auto;
    }

    .text1, .text2 {
        width: 100%;
        margin-left: 0;
    }
}
